#editor {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 49%;
}

#canvas {
    width: 100%;
    height: 90vh;
}

.hidden {
    display: none;
}

#dmpl-output {
    max-height: 90vh;
    overflow: auto;
    font-weight: 700;
}

#messages-list {
    max-height: 90vh;
    overflow: auto;
    font-weight: 700;
}